@import url(grid.css);
@import url(scrollable.css);
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Georgia;
	font-size: 14px;
}
a:link {
	color: #d55e00;
}
a:visited {
	color: #d55e00;
}
a:hover {
	color: #d55e00;
}
a:active {
	color: #d55e00;
}
a img {
	border: 0;
	text-decoration: none;
}
label.invalid {
	color: red !important;
}
input.text.invalid {
	border: 1px solid red !important;
}
textarea.invalid {
	border: 1px solid red !important;
}
.aright {
  text-align: right;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	visibility: hidden;
	display: block;
	height: 0;
	width: 0;
	clear: both;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}
.hidden {
	display: none;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
.debug {
	outline: 1px dotted red;
}
#header-wrap {
	background-color: #1e1e1e;
	color: #ffffff;
}
#header {
}
#title {
	margin-left: 0px;
	margin-right: 20px;
}
h1.title {
	font-family: 'Georgia';
	font-size: 30px;
	font-weight: normal;
	line-height: 80px;
	text-transform: uppercase;
}
h1.title a:link {
	color: #ffffff;
	text-decoration: none;
}
h1.title a:visited {
	color: #ffffff;
	text-decoration: none;
}
h1.title a:hover {
	color: #ffffff;
	text-decoration: none;
}
h1.title a:active {
	color: #ffffff;
	text-decoration: none;
}
h1.title span {
	font-size: 16px;
}
#nav {
	font-family: 'TitilliumText25L600wt';
	font-size: 16px;
	line-height: 80px;
	margin-left: 20px;
	margin-right: 0px;
	text-transform: uppercase;
}
#nav ul {
	float: right;
	list-style: none;
	text-align: right;
}
#nav ul li {
	display: inline;
	margin-left: 20px;
}
#nav ul li a:link {
	color: #787878;
	text-decoration: none;
}
#nav ul li a:visited {
	color: #787878;
	text-decoration: none;
}
#nav ul li a:hover {
	color: #ffffff;
	text-decoration: none;
}
#nav ul li a:active {
	color: #ffffff;
	text-decoration: none;
}
#nav ul li a.active {
	color: #ffffff;
	text-decoration: none;
}
#hp-mantle-wrap {
	background: url(../images/mantle-bg.png) top center repeat-x;
	height: 430px;
	padding: 0;
}
#hp-mantle {
	color: #ffffff;
	font-style: normal;
	height: 430px;
	padding-top: 60px;
	position: relative;
	text-align: left;
}
#hp-mantle h1 {
	font-family: 'LeagueGothicRegular';
	font-weight: lighter;
	font-size: 60px;
	margin-top: 18px;
	text-transform: uppercase;
	white-space: nowrap;
}
#hp-mantle p {
	font-family: 'Georgia';
	font-size: 16px;
}
a.view-project {
  background: url('../images/btn-view-project.png');
  clear: both;
  display: block;
  width: 191px;
  height: 73px;
  margin-left: -10px;
}
a.view-project span {
  display: none;
}
#hp-mantle-left {
	margin-left: 0;
	cursor: pointer;
}
#hp-mantle-right {
	margin-right: 0;
	cursor: pointer;
}
#hp-mantle-image {
	margin-right: 20px;
}
#hp-mantle-text {
	margin-left: -10px;
}
.mantle-arrow {
	margin-top: 115px;
}
#hp-mantle-dots {
	margin: 0 auto;
	overflow: auto;
	width: 300px;
	text-align: center;
}
#hp-mantle-dots a {
	background: url(../images/mantle-navi.png);
	cursor: pointer;
	width: 22px;
	height: 22px;
	list-style: none;
	margin-right: 8px;
	display: inline-block;
}
#hp-mantle-dots a.active {
	background: url(../images/mantle-navi-active.png);
}
#hp-mantle-image {
}
#computer-wrapper {
	position: relative;
	width: 450px;
	height: 321px;
}
#computer {
	position: absolute;
	background: url(../images/computer.png);
	margin-left: -36px;
	width: 450px;
	height: 321px;
}
#computer .light {
	background: url(../images/computer-light.png);
	position: absolute;
	top: 0;
	width: 450px;
	height: 321px;
}
#computer .screen {
  width: 350px;
  height: 198px;
  overflow: hidden;
	display: none;
	position: absolute;
	right: 50px;
	top: 20px;
}
body.page-template-homepage-php div.blog {
	margin-bottom: 20px;
}
body.page-template-homepage-php div.blog .post{
	margin-bottom: 10px;
}
#mantle-wrap {
	background: url(../images/work-mantle-bg.png) top center repeat-x;
	height: 190px;
	padding: 0;
}
#mantle {
	color: #ffffff;
	height: 130px;
	padding-top: 60px;
	position: relative;
}
#mantle p {
	color: #a9c9c7;
	font-size: 30px;
	font-style: italic;
	text-align: center;
}
#mantle p a:link {
	color: #ffffff;
	text-decoration: underline;
}
#mantle p a:visited {
	color: #ffffff;
	text-decoration: underline;
}
#mantle p a:hover {
	color: #ffffff;
	text-decoration: underline;
}
#mantle p a:active {
	color: #ffffff;
	text-decoration: underline;
}
#content .post div.body {
	overflow: visible;
}
#content div.body {
	font-size: 14px;
	line-height: 1.5;
}
#recent-work .grid_4.column {
  overflow: hidden;
  height: 168px;
}
#content div.body h1,
#content div.body h2,
#content div.body h3 {
	border: 0;
	font-family: Georgia;
	margin: 0;
	padding: 0;
	text-transform: none;
}
#content div.body h1 {
	font-size: 1.5em;
	padding: 0 1.45833em 0 0;
}
#content div.body h2 {
	font-size: 1.33333em;
	padding: 0 1.25em 0 0;
}
#content div.body h3 {
	font-size: 1.16667em;
	padding: 0 1.51786em 0 0;
}
#content div.body p {
	margin-bottom: 10px;
}
#content div.body blockquote {
	margin-left: 20px;
	font-style: italic;
}
#content div.body blockquote cite {
	font-style: normal;
}
#content div.body table {
	width: 100%;
}
#content div.body img {
}
#content h2 {
	border-bottom: 1px solid #000000;
	color: #393939;
	font-family: 'LeagueGothicRegular';
	font-weight: lighter;
	font-size: 60px;
	line-height: 60px;
	margin: 40px 0 20px 0;
	padding-bottom: 6px;
	text-transform: uppercase;
}
#content h3 {
	border-bottom: 1px solid #000000;
	color: #393939;
	font-family: 'LeagueGothicRegular';
	font-size: 36px;
	font-weight: lighter;
	margin-bottom: 40px;
	padding-bottom: 6px;
	text-transform: uppercase;
}
#content p {
	margin: 5px 0;
}
body.page-template-homepage-php #content .header-right,
body.single-project #content .header-right {
	margin-top: 52px;
}
body.archive #content .header-right {
	margin-top: 30px;
}
.projects .sort {
	font-family: Arial, Sans-serif;
	font-size: 10px;
	text-transform: uppercase;
}
.projects .sort a {
	font-size: 12px;
	text-transform: none;
}
#content .project {
	margin-bottom: 20px;
}
#content .project a:link {
	color: #d55e00;
	font-family: 'LeagueGothicRegular';
	font-size: 36px;
	font-weight: lighter;
	margin-bottom: 40px;
	padding-bottom: 6px;
	text-decoration: none;
	text-transform: uppercase;
}
#content .project a:visited {
	text-decoration: none;
	color: #d55e00;
	font-family: 'LeagueGothicRegular';
	font-size: 36px;
	font-weight: lighter;
	margin-bottom: 40px;
	padding-bottom: 6px;
	text-transform: uppercase;
}
#content .project a:hover {
	text-decoration: none;
	color: #d55e00;
	font-family: 'LeagueGothicRegular';
	font-size: 36px;
	font-weight: lighter;
	margin-bottom: 40px;
	padding-bottom: 6px;
	text-transform: uppercase;
}
#content .project a:active {
	text-decoration: none;
	color: #d55e00;
	font-family: 'LeagueGothicRegular';
	font-size: 36px;
	font-weight: lighter;
	margin-bottom: 40px;
	padding-bottom: 6px;
	text-transform: uppercase;
}
#content h3.client-name {
	border-bottom-color: #d7d7d7;
	margin-bottom: 10px;
}
body.blog #post-list {
	list-style: none;
}
body.blog .post,
body.search .post,
body.search .page {
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.blog .post.sticky {
	background: #f7f7f7;
}
body.blog .post.last,
body.search .post.last,
body.search .page.last {
	border-bottom: 0;
	margin-bottom: 40px;
	padding-bottom: 0;
}
.post .meta {
}
.meta .date {
	background: url(../images/post-date-bg.png);
	height: 60px;
}
.meta .date .inner {
	color: #ffffff;
	width: 36px;
	height: 36px;
	text-align: center;
	overflow: hidden;
	margin: 12px;
	font-family: arial;
	font-weight: bold;
}
.meta .date .inner .d {
	font-size: 24px;
	height: 24px;
}
.meta .date .inner .m {
	font-size: 12px;
	height: 12px;
	text-transform: uppercase;
}

#content .blog .post .meta h3.title,
body.search #content .meta h3.title {
	border: 0;
	color: #d55e00;
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
	padding: 0;
	text-transform: none;
}
#content .blog .post .meta h3.title a:link {
	text-decoration: none;
}
#content .blog .post .meta h3.title a:visited {
	text-decoration: none;
}
#content .blog .post .meta h3.title a:hover {
	text-decoration: none;
}
#content .blog .post .meta h3.title a:active {
	text-decoration: none;
}
#content .projects {
}

.meta .author,
.meta .author {
	color: #8d8d8d;
	font-family: Arial;
	font-size: 13px;
	line-height: 20px;
}

.meta .tags {
	color: #8d8d8d;
	font-family: Arial;
	font-size: 13px;
	line-height: 20px;
	background: url(../images/icon-tags.gif) left top no-repeat;
}

.meta .tags a:link {
	color: #8d8d8d;
}
.meta .tags a:visited {
	color: #8d8d8d;
}
.meta .tags a:hover {
	color: #8d8d8d;
}
.meta .tags a:active {
	color: #8d8d8d;
}

.meta .tags ul {
	padding-left: 20px;
}

.meta .tags ul li {
	float: left;
	list-style: none;
	margin-right: 5px;
}

.blog .post .body,
.page .post .body {
	font-size: 14px;
	padding-top: 10px;
	color: #393939;
	line-height: 20px;
}

.blog .post .footer,
.page .post .footer,
.search .page .footer
 {
	text-align: right;
	font-size: 14px;
}
/* Blog comments */
#comment-form {
	overflow: hidden;
	margin: 0;
	width: auto;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
#comment-form label,
#contact-form label {
	color: #393939;
	height: 18px;
	display: block;
}
#comment-form input,
#contact-form input {
	vertical-align: top;
	margin-bottom: 20px;
}
input[type=text],
input[type=password] {
	background: #f7f7f7;
	border: 1px solid #d7d7d7;
	font-family: Georgia;
	height: 28px;
}
#comment-form textarea,
#contact-form textarea {
	background: #f7f7f7;
	border: 1px solid #d7d7d7;
	border-bottom: 0;
	font-family: Georgia;
	height: 164px;
	resize: none;
}
.resizable-textarea .grippie {
  background-color: #F7F7F7;
  border: 1px solid #D7D7D7;
  border-top-width: 0;
}
.filter-wrapper.form-wrapper {
  border: 1px solid #D7D7D7;
  border-top: 0;
}
#comment-form p.form-submit {
	margin: 0;
}
#comment-form #edit-submit {
	background: url(../images/btn-post.png);
	border: 0;
	color: transparent;
	height: 34px;
	margin-bottom: 20px;
	margin-right: 10px;
	vertical-align: top;
	width: 80px;
}
#comment-form #edit-preview {
	background: url(../images/btn-preview.png);
	border: 0;
	color: transparent;
	height: 34px;
	margin-bottom: 20px;
	vertical-align: top;
	width: 109px;
}
h3#comments-title {
	margin-bottom: 10px;
}
#comment-list {
	list-style: none;
}
#comments #li-comment-preview {
	display: none;
	background: #f7f7f7;
}
#comment-list li {
	border-bottom: 1px solid #d7d7d7;
	padding: 20px 0;
}
#comment-list li:last-child {
	border: 0;
}
.comment .header {
	color: #8d8d8d;
}
#content h3.comment-subject {
	border: 0;
	color: #d55e00;
	display: inline;
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
	padding: 0;
	text-transform: none;
}
.comment .header h3 cite {
	font-style: normal;
}
.comment .header .meta {
	display: inline;
	font-family: Arial;
	font-size: 13px;
	line-height: 20px;
}
.comment .header .meta a:link {
	color: #8d8d8d;
	text-decoration: none;
}
.comment .header .meta a:visited {
	color: #8d8d8d;
	text-decoration: none;
}
.comment .header .meta a:hover {
	color: #8d8d8d;
	text-decoration: none;
}
.comment .header .meta a:active {
	color: #8d8d8d;
	text-decoration: none;
}
.comment .body {
	color: #393939;
}
.comment .user-pic {
  overflow: hidden;
}
.comment .user-pic img {
  margin-left: -20px;
}
.comment .body p {
	margin: 10px 0 0 0;
}
/* Sidebar */
.tweets .tweet {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.tweets .tweet.last {
    border-bottom: 0;
    margin-bottom: 40px;
    padding-bottom: 0;
}

.tweets .tweet .body {
    color: #d55e00;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
}

.tweets .tweet .footer {
    color: #8d8d8d;
    font-family: Arial;
    font-size: 13px;
    line-height: 20px;
}
#sidebar {
	margin-bottom: 20px;
}
#sidebar ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#sidebar .section {
  margin-top: 40px;
}
#sidebar h2 {
	margin: 0px 0 20px 0;
}
#sidebar h2 a:link {
	color: #393939;
	text-decoration: none;
}
#sidebar h2 a:visited {
	color: #393939;
	text-decoration: none;
}
#sidebar h2 a:hover {
	color: #393939;
	text-decoration: none;
}
#sidebar h2 a:active {
	color: #393939;
	text-decoration: none;
}
#sidebar ul li .entry-content {
	color: #d55e00;
	font-size: 16px;
	font-style: italic;
	line-height: 20px;
}

#sidebar ul li .entry-meta {
	color: #8d8d8d;
	display: block;
	font-family: Arial;
	font-size: 13px;
	line-height: 20px;
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#sidebar ul li:last-child .entry-meta {
	border: 0;
	padding: 0;
}
#sidebar .entry-meta a:link {
	color: #8d8d8d;
	font-family: Arial;
	font-size: 13px;
	line-height: 20px;
}
#sidebar .entry-meta a:visited {
	color: #8d8d8d;
	font-family: Arial;
	font-size: 13px;
	line-height: 20px;
}
#sidebar .entry-meta a:hover {
	color: #8d8d8d;
	font-family: Arial;
	font-size: 13px;
	line-height: 20px;
}
#sidebar .entry-meta a:active {
	color: #8d8d8d;
	font-family: Arial;
	font-size: 13px;
	line-height: 20px;
}
#search-block-form .form-submit {
  background: url(../images/btn-search.png);
  border: 0;
  color: transparent;
  height: 34px;
  width: 98px;
}
.follow ul li {
	list-style: none;
	float: left;
	margin-right: 10px;
}

#footer-wrap {
	background: #393939;
}

#footer {
	color: #ffffff;
	font-size: 14px;
	padding: 40px 0;
	line-height: 20px;
}
#footer .widget {
}

#footer .widget .inner {
	padding-right: 20px;
}
#footer .widget h2 {
	font-family: 'LeagueGothicRegular';
	font-size: 40px;
	font-weight: lighter;
	line-height: 40px;
	padding-bottom: 6px;
	text-transform: uppercase;
}

#footer .widget p {
	border-bottom: 1px solid #616161;
	margin-bottom: 10px;
	padding-bottom: 12px;
}

#footer .widget p.last {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
#credit-wrap {
  background: #1e1e1e;
}
#credit {
	color: #ffffff;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}
#paginator {
	margin-bottom: 20px;
}
#footer .blogroll li {
	border-bottom: 1px solid #616161;
	list-style: none;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
#footer .blogroll a:link {
	color: #ffffff;
	text-decoration: none
}
#footer .blogroll a:visited {
	color: #ffffff;
	text-decoration: none
}
#footer .blogroll a:hover {
	color: #ffffff;
	text-decoration: none
}
#footer .blogroll a:active {
	color: #ffffff;
	text-decoration: none
}